#app-container {
  font-family: 'futura-pt';
  font-weight: 300;
  letter-spacing: 0.3px; }

.navbar-container {
  display: flex;
  justify-content: space-between;
  background-color: #75d6c7;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5rem; }

.name-container {
  display: flex;
  padding-left: 3rem;
  flex: 0 0 40%;
  align-items: center; }
  .name-container p {
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    letter-spacing: 1px; }

.work-container {
  margin: auto;
  box-sizing: border-box;
  padding-top: 3rem; }

.grid-area-container {
  display: flex;
  box-sizing: border-box;
  flex-flow: row wrap;
  justify-content: center; }

.grid-container-outer {
  display: flex;
  width: 25%;
  box-sizing: border-box;
  margin: 5rem 2rem 2rem 2rem; }
  @media (min-width: 750px) {
    .grid-container-outer {
      width: 15%; } }

.grid-container {
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100px;
  justify-content: space-between; }

.grid-subtext {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center; }
  .grid-subtext .caption-title {
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    margin: 0.5rem 0 0 0; }
    .grid-subtext .caption-title p {
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 1px;
      margin: 0; }

.footer-container-inner {
  display: flex;
  justify-content: flex-end;
  margin: 5rem 5rem 6rem 5rem; }

.footer-item {
  margin: 0.5rem; }
