$small-width: 425px;
$medium-width: 650px;
$large-width: 1024px;

@mixin small {
  @media (min-width: #{$small-width}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}

#app-container {
  background-color: #fbfaf8;
}

.navbar-container {
  padding: 3rem 3rem 3rem 3rem;
  display: flex;
  justify-content: space-between;
}

.menu-container {
  display: flex;
}

.menu-item {
  visibility: hidden;
  @include medium {
    visibility: visible;
    padding-left: 2rem;
    white-space: nowrap;
    text-align: center;
    p,
    a {
      font-family: 'Catamaran', 'Helvetica', sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      color: black;
      font-size: 1.1rem;
    }
  }
}

.work-container {
  margin: auto;
  box-sizing: border-box;
}

.header-container {
  padding: 4rem 3rem 3rem;
  h1 {
    font-size: 3.8rem;
    line-height: 4rem;
    margin: 0;
    font-family: 'Catamaran', 'Helvetica', sans-serif;
    padding-bottom: 1.5rem;
    font-weight: normal;
    @include medium {
      font-size: 5.5rem;
      line-height: 6rem;
    }
  }
}

.grid-area-container {
  // border: 10px solid red;
  display: flex;
  box-sizing: border-box;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
}

.grid-container-outer {
  display: flex;
  width: 40%;
  margin: 2rem;
}

.grid-container {
  flex: 0 0 100%;
  flex-wrap: wrap;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.grid-image-block {
  box-sizing: border-box;
  flex: 0 0 100%;
  height: 300px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-sizing: border-box;

  &:hover {
    .grid-hover {
      box-sizing: border-box;
      height: 300px;
      background-color: purple;
      opacity: 0.2;
    }
  }
}

.grid-subtext {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
