$small-width: 425px;
$medium-width: 650px;
$large-width: 1024px;

@mixin small {
  @media (min-width: #{$small-width}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}

#app-container {
  font-family: 'futura-pt';
}

.navbar-container {
  padding: 5rem 5rem 1rem 3rem;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  h2 {
    text-decoration: none;
    color: black;
    font-weight: 400;
  }
}

.menu-container {
  display: flex;
}

.menu-item {
  visibility: hidden;
  @include medium {
    visibility: visible;
    padding-left: 2rem;
    white-space: nowrap;
    text-align: center;
    p,
    a {
      text-transform: uppercase;
      text-decoration: none;
      font-size: 0.85rem;
      font-weight: 500;
      letter-spacing: 1.8px;
      color: black;
    }
  }
}

.work-container {
  margin: auto;
  box-sizing: border-box;
}

.grid-area-container {
  // border: 10px solid red;
  display: flex;
  box-sizing: border-box;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
}

.grid-container-outer {
  display: flex;
  width: 40%;
  margin: 2rem;
}

.grid-container {
  flex: 0 0 100%;
  flex-wrap: wrap;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.grid-image-block {
  box-sizing: border-box;
  flex: 0 0 100%;
  height: 300px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-sizing: border-box;

  &:hover {
    .grid-hover {
      box-sizing: border-box;
      height: 300px;
      background-color: purple;
      opacity: 0.2;
    }
  }
}

.grid-subtext {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .caption-title {
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    margin: 1.5rem 0 0 0;
    p {
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 0;
    }
  }
  .caption-subtext {
    display: flex;
    justify-content: center;
    margin: 0;
  }
}

.showcase-container {
  display: flex;
  border-bottom: 1px solid grey;
  padding-bottom: 3rem;
  margin: 0 3rem 3rem 3rem;
}

.showcase-image-block {
  margin: 2rem;
  width: 500px;
  height: 250px;
  flex: 0 0 40%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.showcase-text-container {
  padding: 0 2rem 0 2rem;
  .showcase-title {
    h1 {
      letter-spacing: 0.6px;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}
